body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.postimg.cc/gJ5pvWtr/762f3e067122024fd6169a591032ad7e.jpg'); /* رابط للصورة */
    background-size: cover; /* لتغطية الصفحة بالكامل */
    background-position: center; /* لضبط الصورة في المنتصف */
    color: #000; /* تغيير النص إلى اللون الأسود */
    text-align: center;
    padding: 50px;
}

h1 {
    color: #cc0000; /* اللون الأحمر */
}

.button {
    background-color: #cc0000; /* لون الزر */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
}